@import "tailwindcss";
@plugin "daisyui" {
    themes: light;
}
@plugin "daisyui/theme" {
    name: "light";
    default: true;

    --color-base-100: #0f172a;
    --color-base-content: #f0f9ff;
    --color-primary: #38bdf8;
    --color-primary-content: #020617;
}

@theme {
    --font-inter: "Inter", "Inter Fallback";
    --font-alegreya: "Alegreya Sans", "Alegreya Sans Fallback";
}

.timeline-vertical > li > hr {
    width: 0.15rem;
}